
.body {
    background-color: black;
    color: white;
}

.nadstavenia-menu {
    text-align: center;
    color: white;
}

.nadstavenia-menu.svetla-tema {
    text-align: center;
    color: black;
}

.kontajner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px;
    margin-left: 150px;
}

.text-uvod {
    background-color: rgb(59, 59, 59);
    border: 1px solid white;
    padding: 15px;
    margin: 10px;
    flex: 0 0 calc(25% - 15px);
    text-align: left;
}

.uvod-informacie {
    background-color: rgb(59, 59, 59);
    border: 1px solid white;
    padding: 15px;
    margin: 10px;
    flex: 0 0 calc(25% - 15px);
    text-align: left;
}

.kontajner h3 {
    text-align: center;
}

.postavy table {
    width: 100%;
    border-collapse: collapse;
}

.postavy td, th {
    padding: 10px;
    text-align: center;
}

.postavy img {
    width: 50px;
    height: auto;
    border: 1px solid rgb(59, 59, 59);
    margin-left: 150px;
    transition: transform 0.2s;
}

.postavy img:hover {
    transform: scale(1.1);
}

.postavy p {
    margin-top: 5px;
    font-weight: bold;
    margin-left: 150px;
}

.text-uvod img {
    width: 20px;
    height: auto;
    background-color: white;
}

.celaPostava img {
    width: 300px;
    height: auto;
}

.zhrnutie-tabulka table {
    width: 70%;
    border-collapse: collapse;
    margin-left: 300px;
    margin-top: 20px;
}

.zhrnutie-tabulka th, td {
    padding: 8px 10px;
    border:  1px solid white;
    text-align: center;
}

.zhrnutie-tabulka th {
    background-color: rgb(59, 59, 59);
}

