.hlavicka.tmava-tema {
    text-align: center;
    color: white;
}

.hlavicka.svetla-tema {
    text-align: center;
    color: black;
}

.body.tmava-tema {
    background-color: black;
    color: white;
}

.body.svetla-tema {
    background-color: white;
    color: black;
}

.bocneMenu.body.tmana-tema {
    width: 150px;
    color: white;
    position: fixed;
    height: 30%;
    padding: 25px;
}

.bocneMenu.body.svetla-tema {
    width: 150px;
    color: black;
    position: fixed;
    height: 30%;
    padding: 25px;
}



.bocneMenu.tmava-tema h2 {
    margin-right: 20px;
    color: white;
}

.bocneMenu.tmava-tema h2 {
    margin-right: 20px;
    color: black;
}

.bocneMenu.tmava-tema ul {
    text-decoration: none;
    padding: 0;
}

.bocneMenu.svetla-tema ul {
    text-decoration: none;
    padding: 0;
}

.bocneMenu.tmava-tema ul li a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.bocneMenu.svetla-tema ul li a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.bocneMenu.tmava-tema {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.bocneMenu.svetla-tema {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.bocneMenu ul li a:hover {
    color: red;
}

.login-link {
    text-decoration: none;
    color: white;
}

.login-link.body.svetla-tema {
    text-decoration: none;
    color: black;
}

.login-link:hover {
    color: red;
}

.nadstavenia-menu {
    text-align: center;
    color: white;
}

.nadstavenia-menu.body.svetla-tema {
    text-align: center;
    color: black;
}

.prihlasenie {
    text-align: center;
    margin-top: 20px;
}

